* {
	padding: 0;
	margin: 0; 
}

.img_coringa {
	width: 10rem;
	border-radius: 10%; 
	text-align: center;
}

#img-1, #img-2, #img-3{
	object-fit: cover;
}

.carousel-item {
	height: 400px;
}

.d-block {
	height: 33rem	;
	width: 100%;
}

.frase:hover {
	background-color: silver;
}

.img-3 {
	height: 33rem;
	width: 100%;
}

.frase_1:hover{
	transition: 1s;
	font-size: 20px;
	color: red;
}

.frase_2:hover{
	transition: 1s;
	font-size: 20px;
	color: blue;
}

.frase_3:hover{
	transition: 1s;
	font-size: 20px;
	color: black ;
}

.joker {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}

.joker:hover {
	color: #255784;
	background: red;
	box-shadow: 0 0 10px red,0 0 40px red,0 0 80px red;
	transition-delay: 1s;
}
.joker span {
	position: absolute;
	display: block;
}

.joker span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,red) 
}

.joker:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}

.joker span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,red) 
}

.joker:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;	
}

.joker span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,red) 
}

.joker:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;	
}

.joker span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,red) 
}

.joker:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;	
}

/* CASAL */

.casal {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}

.casal:hover {
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
	transition-delay: 1s;
}

.casal span {
	position: absolute;
	display: block;
}

.casal span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3) 
}

.casal:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}

.casal span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3) 
}

.casal:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;	
}

.casal span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3) 
}

.casal:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;	
}

.casal span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3) 
}

.casal:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;	
}

.vilao {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}

.vilao:hover {
	color: black;
	background: white;
	box-shadow: 0 0 10px white,0 0 40px white,0 0 80px white;
	transition-delay: 1s;
}

.vilao span {
	position: absolute;
	display: block;
}

.vilao span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,white) 
}

.vilao:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}

.vilao span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,white) 
}

.vilao:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;	
}

.vilao span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,white) 
}

.vilao:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;	
}

.vilao span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,white) 
}

.vilao:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;	
}

.descricao {
	background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhIVEBIXEg8VFRUVDw8VEBAQFRUWFhUSFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0dHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tNy0tNzctNy0rN//AABEIALcBEwMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAACAwQBAAUHBv/EAC0QAAICAgEEAgAFAwUAAAAAAAABAgMRITEEEkFRE2FxgZHw8SKx0RQyQmLB/8QAGgEAAwEBAQEAAAAAAAAAAAAAAQIDBAAGBf/EACARAAICAwEBAQEBAQAAAAAAAAABAhEDEiExQVEiE2H/2gAMAwEAAhEDEQA/APz9r9A0ph2QyNppfJ6s8VskhbbwTXUtrk9CeMHnWz9CsbG2/CKdeAY149FUq+5ZFOGyTRrUjJ8CJpY4wNct4A6mSQsh4+iJRyhLqKK02GosnrZXagKaw7ajYxCsyvwGrgjk7JJwZsEP7WzFSLqPv+hKKGSiHCvRsYZ5KJEHImlHAPaWzgC6MHahWQjdWBVteimx7EyWSckVi2ROAi1ldywQTM0+GzH3ou6Qhs23IPazM2a4rgLYK5G9gUEkLQboyMBjBbMbHF9N7gsiJM7uBsHUOUgEgonSYAoFs5MBs5SBY1BnC3I46zqPrM+lXLOjViI2y7C4GRWUj0R4XeVdIPhJ7qt8HqpYYnq46AUhldnlWLBLJ7H2ReRFj2TZvgTSWWDODyOUt8ByZOrL7NCa4joAdwakFCythOBsoeBsVoCaGonsL+H0dGH0EpAd4vBujVFhfGLhNorjhoZdJybRFI2I66vK0TR0B8HTtA2QRNaktlNjIOpZObo0Yk2T9XLOCVodc9iZsxzfTdBUhc4oVJDHITNkZF42Cc2AwWidlUg+8FzAbMz7A2Momt5CQCDiALCbMMaOkFgMkAaFEA3gto4Z2nHUdZ9TlPgfRf70BZFLB3xvGT0Z4Z00Uzlv6E9RtC4WZ5BmsP6ABQpkP/Jibqc78lco52YllfYrRsU66eTjDGS5H3QM7MoSjRvfSaUTM+g5RFrQrHRTCejovImMw4sNiOITiA4P0H3hSmGgW0K7kcuoxzwK6pZPNvlLGPBKc9S8Mame3XdnO9C3I87oup9sZ1Hd4ejlktWd/jUqH3Mhmsj4xflmSrST2LL+ikf54efcsbI5yK+qksEV0sIx5DfiXDJSJ52HSeQoV+WQbbNKSXoEYtjVAKKb+jWFIDkInESyzsJ/ibekJKI0ZE8jlMrfSt+CeyloVxaKKUWErDXMQMgdYXFBILuOiD2hED7jgTjrOpH1px7mvGy22Cxgl7NlOfB6I8FN+EToxvIM8YKOoWCRs4rFt9FpcmOOFkZg5/7TitkE/IEWNtXgCtIQ0p8FWRJbo6PUsX0R31iyQ+OZ5uWmN+XKDdHsN1pE1FmlyTJ1YV13CfiX4AfG8nK0BqMh02s7JrYDLMio2aFkxoKvBDqzwFXa1p7HwxyFKpMVR/B3P4zJST/kRbIGf9PIDtTQHIaMfwh6iRHZvzktugiWUDFNM342qEqGBkODHEZXHIiRSTMhLwFgxw2GMhG0HGKFyngCTaAyc5HKIVnUPAi2WQpwAkicmysUl4JUToBOIcYCUVbNijGHgxoahLMOMNOOPsdcPIClvPGwHfvAE3o9CeDUX9C62RIuPZznnkbXHRxZLVULri/INkdFWNfYucdHHKXTy74s6qI23TMWxaNd8NyKnDIx59AqlnMC4IcMhRqzyOjXvQ1RBqM8n4Il0yaFfD6LGG4h1FWRo8uyshlNJ/Z7kl9HmdXQucE5x/DThyJumTJp7HweiOUMMbVMkmaJR4D1h5mNnq3wyjz5w2SyrpbDLlE1wmvkZ1ImjPkyt9NsV/IU4mUrDCckZkHLD8obKD5MgshRt7kl6OiMT74LnEW0Nis8jHVrQutjbURyB0Ntj9C1FCNFU+ANHI2UfJuQUNYMjJBuISgdR1kzZo34zhdWHZH0/vGVT5E6x6FfLhnoTxmtlE4o6MsM1zTFKWzgJWOlPAuyWsi7uqxpENljfLA2UhibKJYxyKc/Wga7PoJsBaqCq+xs1oFQ/UKK00wiNgVyGNZOrrwNjpnIWT/Bagw+14KoRAsDRLe2Q2rCZ583l/R6PUrWCPswJI14nSJbKcivhwWyRriI4GhZGiKaeCe2ostfg3syhHGyinR+f66h5EVw9HrdTHbIJwxsxThTs+jjyXGiWUTMnWy2YiJoMg9lUJEmPsZCR0XQJKy6NKZkk4ndNIoth3LHkulatGVunTPNs+hfxlLhjQl8kmjRGX4In6OiOlWYoCalNuAm95rAaOB6Z3HGM4UY+m1LKJ74ICi7GvAyeH9n3zySi4yJ/m7fsTDq8s6xYEQq3lCNs1RjGulHVT4JY35eBtz1vklqh5Fk+lIRWpfBDIEtc8D6JZ8jIlKJYrMBw3snwUUvQ5mkqCi94CX4GiZ2NcbOEXSymYc4nn/6r8mO6fr1wGxJYpeo6+nP0TSp/fs9X+l78CLl6OoMMj8PMlVgVN+iycCPqI450IzVB2Ryhsz5fAyU0QSlhkJOjbBbA3y59nn9TLP0WdTNc+yOxZRmyOzbiVdIGjkNmkLZko2J2bIXkOI2Nfk6rDdDYPRbVPKwzz3yarMFoyozyhsWXRI564KoXZWxc4nS74LDnGKW0Y0dHR0hCoqxADJMDtEZRGPBxnYaAPD9t3/YcbTzvm+g/wDUfR9rdHwHiZVZZl4EvTOjPW9E1luOQOSGjD4Ocu7TEwnh4BVj5R0GTbsqo0iquWeQ1JIjVn9xspoZSJuB6NFhV3YPHqt3gtjcUjKzNkxdLFeT/NsR828cHT9oNirGkNs5BVfnyZUssdjAQt1wspsfaHKWRNT0d8iQxla6OjXo8zr5Y+0VLqFnD0B1dScG143+YJdXCuL+ZdPGsWdr+CbqK8j1boXN6MsqaPqRtMlsr1hksqv+yX4bZVa2TdntmaS6aoMT8K+2LnWipyik8bZHJtkZJI0RbYEY7La4YQmqscmdBUCbsGaE2RNm9mZOYUqAjZgfCwlnEFSwIpUO4JlskBIVG8b3Joa0xKaFOZjmdJC3IRsokHg0X3nAsNH6Nc7CTI49QbbcfS3R83/N2M6ix5WxTnkGO/wGVCXY9KKFKbiO6azHJ05Inc/DBdMNbLwsrtywXZv94AqwDe9YQ18EUVZVVansphYzxqG0y9dTjA0J86Jkxd4Wx9+R3yEkbMjM6LJmaUf0uokVxWTxK7sPHJ6FXUaKRkmQy4n8LYsTJi1eLtuTGbJRg7Akth12tJr6/U6MkdKvTFK/8Z5c9ZF50U2+xesejO0bEyT5BN0F4HWQEzgQkaY18EKP5AfBLPtFVayU92seBFCx3kaIVDALZTLYmceTmgp2TqOTnEbBC2TaKJi3ERZEscdCJoSSKRkSuLOVrKY1tmS6UTV/Cm6+iXaC5GWUMX2iNsdJPwY2aI7WYCxtUe4h8YryTtMKEjenR89qyltJfQKsiuWie1kTZ0slHRxbHqu2LEWMhhZspyhd9hv89WHV1G8JDu9LnkijoC20G9Lof87fCqMiiv7JOlnkugslIdJ5OcK+neQrJm9PVhHTj+ppp0Ym1sApbHxu0TOITZydBlFMphPIaeVgllZsZXaMpE3AbOeA6eoyA8Mktl2vKOcqAoKXDerk03ghnZIZddl5MaTRCTt8NcFqumwllfYN8sf5NWFwb25e9i/A+OxNfse0FOCAS/fo6qObvpiAx/6HKOtsnlLCA+DRVmKsBR9oZCQWf5J0ilsBRTQtrA434/J1HbUJTMSKHUDKB2rOUkKdZLfWXtaJrhJxHhJ2ee6zhzOM+pq2ZXkxSwwFIxTNNmeh8tiJRGd4Sw0FpMCdEPbsqjE5xOcscCKNDylYLfgmuKbPYmf2LIaAHR3YZ7FFzPFUcMuhZobFJrguaCl4erHrGhny5PKVo6m3BpWUxyw14V2W8GO3BJ1FnoB2ZRzydCsXC128MZCw8tz8FPT2aOjk6dLFSPRVngCyWUIlPWTIzKOXwiofRFqBjdj7GWwySNYISbTNMUmi2NsWMUl4PPpLoBjKxJxSBbbMhYx0eQJQw8+BqfotrwKzD+gfhDi8jlJDUmK5NE6rX5GTjodNIU3oDQU2xUIBy4DgDa0LVIa7YCZk0YmjJTFbGoCzglmymciO6folNl8aAcDgMnES9MokhbiacWaJpmjajjjo+gl4H26FTRxwzQsRf+RNktnHEZF4+jE1g2LNOOTAxikDGzJxwzYqSoOExc54ZhxzfDkuj65ZMonh4NOGvxiteoqnYZVP+5xxW+kK4NtRNZA44MgQYqvJZVYccJAbJ0dFhuOUccXRnlwyMcGNnHBYF0VZYJjJ52zTiL9LxXBqO7DjhkIzHATNHHCyQ0GDIgueGccQy+GnF6AzjjiZY//Z");
	background-repeat: no-repeat;
	background-size: cover;
}

.img-1 {
	width: 40%;
}
.container {
	padding-top: 40px;
}

.titulo {
	text-align: center;
}

.img_curinga {
	object-fit: cover;
	width: 100%;
	height: 30%;
}

.nêmesis {
	font-weight: bold;
	font-size: 15px;
}

@keyframes animation-alura {
	from{
		transform: translateY(0);
		}to{
			transform: translateY(-2vh);
		}
	}

.col:hover{
	animation: animation-alura 300ms;
	animation-fill-mode: forwards;
	border-color:red;
	color: white;
}

.col {
	border: solid 2px;
	border-radius: 5%;
	margin: 2em; 
}

.texto_rodape {
	color: white;
	position: absolute;
}

.rodape {
	position: absolute;
	height: 50%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.row-cols-4>* {
	/* flex: 0 0 auto; */
	width: 25%;
}

.img_curinga>* {
	width: 16rem;
	height: 16rem;
}

@media screen and (max-width: 346px) {
	.texto_rodape {
		top: 252%;
		margin-right: -7rem;
		margin-left: 3rem;
	}
}

@media screen and (max-width: 562px) {
	.texto_rodape {
		margin-right: 4rem;
		margin-left: 10rem
	}
}

@media screen and (min-width: 600px) {
	.texto_rodape {
		top: 304%;
		margin-right: -5rem;
		margin-left: 11rem;
	}
}

@media screen and (min-width: 1024px) {
	.texto_rodape {
		color: white;
		top: 175%;
		margin-left: 20rem;  
	}

	#ajuste {
		color: white;
		top: 375%;
		font-size: 20px;
		margin-left: 25rem; 
	}
}

/*parte infancia*/
.cards {
	padding: 3rem 1rem;
}

.cards_conteudo {
 	display: flex;
 	flex-wrap: wrap;
 	animation: vir 200ms forwards;
}

.item_card {
 	display: grid;
 	grid-template-areas: 
 	"card-imagem"
 	"card-corpo";
 	grid-template-columns: 100%;
 	margin-right: 1rem;
 	grid-template-rows: 173px 320px;
 	width: calc(20% - 1rem);
}

.item_card:last-child {
	margin-right: 0;
}

@keyframes alura {
	from {
		transform: translateX(0);
	}to {
		transform: translateY(-2vh);
	}
}

.item_card:hover {
	animation: alura 300ms forwards; 
}

.card_imagem {
	object-fit: cover;
	grid-area: card-imagem;
	height: 100%;
	width: 100%;
}

.card_corpo {
	display: grid;
	grid-template-areas: 
	"card-cabeçalho"
	"card-conteudo";
	grid-template-rows: 50px auto;
	grid-row-gap: .5rem;
	grid-area: card-corpo;
	padding: .75rem;
}

.primeiros {
	font-size: 30px;
	float: left;
	margin-top: -0.4rem;
	margin-right: 5px;
	margin-bottom: -1rem; 
}

@media screen and (min-width: 0) {
    .cards_conteudo  {
        flex-direction: column;
    }

    .item_card {
        grid-template-rows: 200px auto;
        width: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}
/*RESOPONSIVIDADE*/

@media screen and (min-width: 768px) {
    .cards_conteudo {
        flex-direction: row;
    }

    .item_card {
        grid-template-rows: 173px auto;
        margin-right: 1rem;
        width: calc(50% - 1rem);
    }
}

@media screen and (min-width: 992px) {

    .item_card {
        width: calc(33.33% - 1rem);
    }
}

@media screen and (min-width: 1024px) {

     .item_card {
        grid-template-rows: 143px 300px;
        margin-bottom: 0;
        width: calc(20% - 1rem);
    }
}   