@keyframes animation {
  from{
      transform: translateY(0);
    }to{
    transform: translateY(-3vh);
    }
  }

  .Produtos li:hover{
    animation: animation 300ms;
    animation-fill-mode: forwards;
    border-color:#C78C19;
  }

  @keyframes vir {
  from{
    opacity: 0;
    transform: translateX(-300vh);
    }to{
      opacity: 50%;
      transform: translateX(0);
    }
  }

  .Produtos {
    animation: vir 1s; 
  }
  .Produtos li {
    animation-delay: 100ms;
  }

  body{
   font-family:'Montserrat', sans-serif;
 }

 header{
   background-color:#BBBBBB;
   padding: 20px 0;
 } 

 .caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
 }

 nav{
   position: absolute;
   top:110px;
   right:0;

 }

 nav li{
   display:inline;
   margin:0 0 0 15px;
 }

 nav a{
   color:#000000;
   text-transform:uppercase;
   font-weight:bold;
   font-size:22px;
   text-decoration:none;

 }

 .Produtos {
  width: auto;
  margin:0 auto;
  padding: 50px 0;
}

.Produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius:10px;
}



.Produtos li:active{
  border-color:red;   
}

.Produtos li:hover h2{
  font-size:34px;
}

nav a:hover{
  color:#C78C19;
  text-decoration: underline;
}

h2{
  font-size: 30px;
  font-weight: bold; 
}

.descriçao{
  font-size: 18px;

}

.preço{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer{
  text-align: center;
  background:url('bg.jpg');
  padding:40px 0;
}

.text{
  color:#FFFFFF;
  font-size:13px;
  margin:20px 0 0;
}

